[dpc]
LOCAL_RUN = True
OUTPUT_DIR = '/home/bobby/Documents/codding/output_from_spiders/'
TMP_DIR = '/home/bobby/Documents/codding/output_from_spiders/tmp/'
LOG_LEVEL = 'DEBUG'

# entries below are used mostly for production
USE_PROXY = False

# proxymesh
PROXYMESH_USER = 'user'
PROXYMESH_PASS = 'pass'

# smartproxy
PROXY_USER = 'user'
PROXY_PASS = 'pass'

# zyte / crawlera
CRAWLERA_APIKEY = 'api-key'

# s3 upload
S3_ACCESS_KEY = 'access-key'
S3_SECRET_KEY = 'secret-key'
S3_AWS_USERNAME = 's3-username'
S3_BUCKET = 'bucket-name'

# mail
MAIL_FROM = 'test example'
MAIL_HOST = 'smtp.example.com'
MAIL_PORT = 587
MAIL_USER = 'test@example.com'
MAIL_PASS = 'pass'
MAIL_TO = 'recipient@example.com'
MAIL_TXT_TPL = 'test subject'